header {
  text-align: center;
}

header li {
  display: inline-block;
}

#footer {
  text-align: center;
}

#calendar {
  text-align: center;
}

body {
  background-image: url('background.jpg');
}

.marquee {
  width: 1000px;
  overflow: hidden;
  color: #FFF;
}
